@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: 'Cristone';
  src: local('Cristone'), url(Cristone.ttf) format('truetype');
}

.header {
  text-align: center;
  font-family: 'Cristone';
  font-size: 5.5vw;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


  